@model IEnumerable<Beerhall.Models.ViewModels.CartIndexViewModel>

@{
    ViewData["Title"] = "Cart";
}

<h2>Your shopping cart</h2>

@if (Model.Count() != 0)
{
    <partial name="_CartLines" />

    <div align="center" class="actionButtons">
        <a asp-action="Index" asp-controller="Store" class="btn btn-primary">Continue shopping</a>
        <a asp-action="CheckOut" asp-controller="Cart" class="btn btn-primary">Check out</a>
    </div>
}

else
{
    <h4>
        You don't have any products in your shopping cart,
        <a asp-controller="Store" asp-action="Index">start shopping here...</a>
    </h4>
}
